@font-face {
    font-family: "Fira";
    src: url("/static/fonts/FiraMono-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Fira";
    src: url("/static/fonts/FiraMono-Medium.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fira";
    src: url("/static/fonts/FiraMono-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}